<a href="https://colab.research.google.com/github/Sushila-Phogat/Data-science-with-Python/blob/master/PreInterviewTaskfinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
#importing necessary packages and data from my github account
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/Sushila-Phogat/colabtools/master/PreInterviewTaskData.csv')
data=df
data=pd.DataFrame(data)
print(data.head())

  account        date  fraud merchant
0      A0  01/01/2015  False      M98
1      A0  01/01/2015  False      M50
2      A0  01/01/2015  False      M55
3      A0  01/01/2015  False      M14
4      A0  01/01/2015  False      M10

In [73]:
#Describing main deatils of dataset
data.describe()

       account        date  fraud merchant
count    89851       89851  89851    89851
unique    1000          30      2      100
top       A831  12/01/2015  False       M8
freq       121        3081  88503      998

In [75]:
#Describing main deatils of dataset for Defrauded transaction
data[(data['fraud'].astype(str).str.strip()=='False')].describe()

       account        date  fraud merchant
count    88503       88503  88503    88503
unique    1000          30      1      100
top       A831  01/01/2015  False       M8
freq       119        3051  88503      985

In [76]:
#Describing main deatils of dataset for frauded transaction
data[(data['fraud'].astype(str).str.strip()=='True')].describe()

       account        date fraud merchant
count     1348        1348  1348     1348
unique     617          30     1      100
top       A425  22/01/2015  True      M57
freq        16         188  1348       22

In [0]:
# Total number of accounts which are exploited
len(set(data[(data['fraud'].astype(str).str.strip()=='True')]['account']).intersection(set(data[(data['fraud'].astype(str).str.strip()=='True')]['account'])))

617

In [0]:
# Function to Detection Outlier on one-dimentional datasets.
def find_anomalies(random_data,st):
    anomalies = []
    # Set upper and lower limit to st standard deviation
    random_data_std = np.std(random_data)
    random_data_mean = np.mean(random_data)
    anomaly_cut_off = random_data_std * st
    upper_limit = random_data_mean + anomaly_cut_off
    
    # Generate outliers
    for outlier in random_data:
        if outlier > upper_limit:
            anomalies.append(outlier)
            anomalies.append(outlier-upper_limit)
    return anomalies

In [84]:
#find exploitation dates with counts and accounts on base of result of anomalies detection function
expltalldict={}
exploitdt={}
expltacnt=[]
exploitrst=[]
inp=find_anomalies(data[(data['fraud'].astype(str).str.strip()=='True')].groupby(['date']).count().iloc[:,-1],2.5) #datewise counts of all frauded transactions
exploitrst.extend(inp) #Exploitation result of frauded transactions count
for i in data[(data['fraud'].astype(str).str.strip()=='True')]['date'].unique():
  for j in data[(data['fraud'].astype(str).str.strip()=='True') & (data['date']==i)].groupby(['date']).count().iloc[:,-1]:
    expltalldict.update({i:j}) #all dates and its counts of all frauded transactions

#Creating dictionary with abnormal dates and its frauded transactions count 
for i in range(len(exploitrst)):
    for (key, value) in expltalldict.items():
      if str(value) == str(exploitrst[i]):
        exploitdt.update({str(key):str(value)}) 
        expltacnt.extend(data[(data['fraud'].astype(str).str.strip()=='True') & (data['date']==key)]['account'].unique()) #List of all exploited accounts
print('Exploitation dates with counts of Transaction on base of abnormality',exploitdt)
print('Unique accounts which exploited during above mentioned exploition dates',set(expltacnt))

Exploitation dates with counts of Transaction on base of abnormality {'21/01/2015': '184', '22/01/2015': '188', '23/01/2015': '179'}
Unique accounts which exploited during above mentioned exploition dates {'A238', 'A355', 'A817', 'A493', 'A581', 'A90', 'A284', 'A183', 'A896', 'A283', 'A556', 'A203', 'A270', 'A461', 'A882', 'A6', 'A657', 'A874', 'A541', 'A746', 'A973', 'A92', 'A951', 'A665', 'A69', 'A167', 'A381', 'A699', 'A468', 'A291', 'A485', 'A723', 'A148', 'A952', 'A610', 'A998', 'A330', 'A836', 'A824', 'A444', 'A655', 'A825', 'A379', 'A603', 'A57', 'A517', 'A841', 'A987', 'A781', 'A991', 'A166', 'A325', 'A122', 'A119', 'A385', 'A634', 'A560', 'A434', 'A318', 'A437', 'A8', 'A786', 'A682', 'A697', 'A435', 'A425', 'A942', 'A907', 'A921', 'A40', 'A490', 'A645', 'A943', 'A494', 'A551', 'A809', 'A145', 'A701', 'A930', 'A743', 'A726', 'A430', 'A727', 'A349', 'A802', 'A324', 'A615', 'A372', 'A837', 'A480', 'A16', 'A834', 'A403', 'A771', 'A731', 'A321', 'A111', 'A110', 'A397', 'A838', 'A704', 'A116', 'A299', 'A648', 'A210', 'A200', 'A334', 'A886', 'A902', 'A937', 'A353', 'A720', 'A308', 'A400', 'A443', 'A157', 'A568', 'A420', 'A395', 'A213', 'A474', 'A391', 'A215', 'A336', 'A475', 'A893', 'A469', 'A590', 'A154', 'A861', 'A787', 'A250', 'A392', 'A86', 'A667', 'A139', 'A728', 'A793', 'A914', 'A923', 'A273', 'A37', 'A702', 'A992', 'A182', 'A527', 'A32', 'A458'}

In [7]:
#Normal anlaysis without matching exploited accounts for abnormal defrauded transactions and creating anomlymer0 dictionary containing suspected compromised merchants with abnormality result
dictdt={}
anomlymer0={}
for i in data[(data['fraud'].astype(str).str.strip()=='False')]['merchant'].unique():
  inp=data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant'].astype(str).str.strip()==i)].groupby(['merchant','date']).count().iloc[:,-1]
  result=find_anomalies(inp,2.5) #Check abnormality with anomaly_cut_off is 2.5 times of standard deviation
  if len(result)!=0:
    listOfdat=[]
    for j in data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant'].astype(str).str.strip()==i)]['date'].unique():
      for k in data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant'].astype(str).str.strip()==i) & (data['date'].astype(str).str.strip()==j)].groupby(['date']).count().iloc[:,-1]:
        dictdt.update({str(j):str(k)})
    for (key, value) in dictdt.items():
      if str(value) == str(result[0]):
        listOfdat = key
        anomlymer0.update({str(i):str(key)})
    print(i,listOfdat,result)

M98 12/01/2015 [42, 0.14938628074362015]
M50 04/01/2015 [44, 3.5015247715286506]
M14 28/01/2015 [45, 2.8772415372337434]
M10 30/01/2015 [49, 3.543920565419654]
M33 01/01/2015 [42, 1.9578696975417529]
M26 15/01/2015 [45, 2.6509109647715334]
M21 08/01/2015 [49, 3.2617184147262606, 46, 0.26171841472626056]
M70 01/01/2015 [48, 3.6792698265290653]
M69 14/01/2015 [49, 1.9607815473821546]
M46 05/01/2015 [44, 1.0506869942160506]
M12 24/01/2015 [44, 0.13020410527151682]
M30 23/01/2015 [46, 2.7135563340304714]
M41 04/01/2015 [44, 0.39702412580335533]
M28 09/01/2015 [42, 1.1380962103093992]
M93 01/01/2015 [43, 0.05891682380070051]
M24 01/01/2015 [44, 1.0237084647307668]
M76 15/01/2015 [43, 0.8322511278810367]
M3 09/01/2015 [47, 0.16071777722640945]
M45 01/01/2015 [42, 0.8917349728611654]
M81 10/01/2015 [42, 0.36853645925264544]
M75 08/01/2015 [42, 0.19895837402025762]
M34 12/01/2015 [48, 4.012772858428619]
M61 19/01/2015 [46, 2.354021250743891, 45, 1.354021250743891]

In [119]:
#Normal anlaysis with matching exploited accounts for abnormal defrauded transactions and creating anomlymer dictionary containing suspected compromised merchants with abnormality result
anomlymer={}
for j in data[(data['fraud'].astype(str).str.strip()=='False') ]['merchant'].unique():
  inp=[]
  dictdt={}
  for i in data[(data['fraud'].astype(str).str.strip()=='False')]['date'].unique():
    inp1=len(list(set(expltacnt).intersection(set(data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant'].astype(str).str.strip()==j) & (data['date'].astype(str).str.strip()==i)]['account'].unique()))))
    inp.append(inp1)
  result=find_anomalies(inp,1)  #Check abnormality with anomaly_cut_off is 1 times of standard deviation
  if len(result)!=0:
    listOfdat=[]
    for i in data[(data['fraud'].astype(str).str.strip()=='False')]['date'].unique():
      inp=len(set(expltacnt).intersection(set(data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant'].astype(str).str.strip()==j) & (data['date'].astype(str).str.strip()==i)]['account'].unique())))
      dictdt.update({str(i):str(inp)})
    for (key, value) in dictdt.items():
      if str(value) == str(result[0]):
        listOfdat = key
        anomlymer.update({str(j):str(key)})
  print(j,listOfdat,result)

M98 01/01/2015 [8, 2.272967209798548, 9, 3.272967209798548, 6, 0.2729672097985478, 6, 0.2729672097985478]
M50 29/01/2015 [7, 0.8810735390189421, 8, 1.8810735390189421, 9, 2.881073539018942, 7, 0.8810735390189421, 7, 0.8810735390189421]
M55 20/01/2015 [6, 0.3805039497961422, 7, 1.3805039497961422, 7, 1.3805039497961422, 6, 0.3805039497961422, 6, 0.3805039497961422, 6, 0.3805039497961422]
M14 03/01/2015 [8, 2.140753851237399, 7, 1.140753851237399, 6, 0.14075385123739892, 10, 4.140753851237399]
M10 02/01/2015 [8, 1.8454681465103784, 7, 0.8454681465103784, 7, 0.8454681465103784]
M33 03/01/2015 [7, 1.4553995067804273, 7, 1.4553995067804273, 8, 2.4553995067804273]
M82 26/01/2015 [7, 0.6159334623545885, 10, 3.6159334623545885, 7, 0.6159334623545885, 7, 0.6159334623545885, 7, 0.6159334623545885]
M42 13/01/2015 [8, 1.5756212963413887, 7, 0.5756212963413887, 8, 1.5756212963413887, 9, 2.5756212963413887, 7, 0.5756212963413887]
M22 06/01/2015 [12, 5.32605408559969, 7, 0.32605408559969007, 7, 0.32605408559969007]
M44 06/01/2015 [7, 0.6268328205727958, 7, 0.6268328205727958, 11, 4.626832820572796]
M52 20/01/2015 [7, 0.6611188058011574, 7, 0.6611188058011574, 7, 0.6611188058011574, 7, 0.6611188058011574, 7, 0.6611188058011574, 8, 1.6611188058011574, 8, 1.6611188058011574]
M26 27/01/2015 [7, 1.4176256128672664, 6, 0.4176256128672664, 6, 0.4176256128672664, 7, 1.4176256128672664, 6, 0.4176256128672664, 7, 1.4176256128672664, 6, 0.4176256128672664, 6, 0.4176256128672664]
M59 07/01/2015 [8, 1.8449249810935537, 8, 1.8449249810935537, 7, 0.8449249810935537, 7, 0.8449249810935537, 7, 0.8449249810935537, 7, 0.8449249810935537]
M48 04/01/2015 [8, 1.2511711389558702, 7, 0.2511711389558702, 7, 0.2511711389558702, 9, 2.25117113895587, 7, 0.2511711389558702, 7, 0.2511711389558702]
M83 06/01/2015 [10, 3.06473511058406, 8, 1.06473511058406, 7, 0.0647351105840599, 7, 0.0647351105840599, 8, 1.06473511058406, 7, 0.0647351105840599, 7, 0.0647351105840599]
M23 30/01/2015 [7, 0.880616366217291, 7, 0.880616366217291, 7, 0.880616366217291, 7, 0.880616366217291]
M72 24/01/2015 [6, 0.5843854356722966, 6, 0.5843854356722966, 6, 0.5843854356722966, 7, 1.5843854356722966, 6, 0.5843854356722966]
M21 19/01/2015 [8, 1.5382783976218315, 7, 0.5382783976218315, 7, 0.5382783976218315, 8, 1.5382783976218315, 7, 0.5382783976218315]
M85 24/01/2015 [9, 2.610972226562229, 7, 0.6109722265622288, 8, 1.6109722265622288, 8, 1.6109722265622288, 9, 2.610972226562229]
M57 02/01/2015 [9, 2.4900775830436643, 8, 1.4900775830436643, 7, 0.49007758304366433, 7, 0.49007758304366433, 7, 0.49007758304366433, 7, 0.49007758304366433, 7, 0.49007758304366433]
M49 30/01/2015 [6, 0.14758253037399793, 7, 1.147582530373998, 6, 0.14758253037399793, 9, 3.147582530373998, 6, 0.14758253037399793, 6, 0.14758253037399793]
M70 30/01/2015 [6, 0.6592774593873312, 6, 0.6592774593873312, 6, 0.6592774593873312, 6, 0.6592774593873312]
M6 19/01/2015 [7, 0.8920658092933209, 7, 0.8920658092933209, 7, 0.8920658092933209, 10, 3.892065809293321]
M91 01/01/2015 [9, 2.281954846571505, 11, 4.281954846571505, 8, 1.2819548465715052, 7, 0.28195484657150516]
M64 29/01/2015 [7, 1.5273904126415818, 6, 0.5273904126415818, 6, 0.5273904126415818, 7, 1.5273904126415818, 6, 0.5273904126415818, 7, 1.5273904126415818]
M88 14/01/2015 [8, 1.8708374103104912, 7, 0.8708374103104912, 8, 1.8708374103104912, 8, 1.8708374103104912, 7, 0.8708374103104912]
M67 13/01/2015 [7, 0.782536397564046, 8, 1.782536397564046, 7, 0.782536397564046]
M69 15/01/2015 [7, 0.8153585509779582, 7, 0.8153585509779582, 7, 0.8153585509779582, 7, 0.8153585509779582, 7, 0.8153585509779582, 9, 2.815358550977958]
M46 29/01/2015 [8, 1.0616970714400606, 9, 2.0616970714400606, 7, 0.06169707144006065, 7, 0.06169707144006065, 8, 1.0616970714400606, 8, 1.0616970714400606, 8, 1.0616970714400606]
M51 08/01/2015 [10, 4.446854051183841, 6, 0.44685405118384125, 8, 2.4468540511838412, 6, 0.44685405118384125]
M12 03/01/2015 [8, 1.53238114666512, 8, 1.53238114666512, 7, 0.53238114666512, 7, 0.53238114666512, 7, 0.53238114666512, 7, 0.53238114666512, 10, 3.53238114666512]
M30 29/01/2015 [8, 1.4083496732654366, 10, 3.4083496732654366, 7, 0.4083496732654366, 7, 0.4083496732654366, 8, 1.4083496732654366]
M90 29/01/2015 [9, 2.405383355501293, 9, 2.405383355501293, 7, 0.4053833555012929, 7, 0.4053833555012929, 9, 2.405383355501293, 7, 0.4053833555012929]
M63 30/01/2015 [6, 0.9449717052648898, 6, 0.9449717052648898, 6, 0.9449717052648898, 6, 0.9449717052648898]
M32 18/01/2015 [7, 0.8997126650302434, 8, 1.8997126650302434, 7, 0.8997126650302434]
M86 05/01/2015 [7, 0.49666888593085545, 8, 1.4966688859308555, 8, 1.4966688859308555, 10, 3.4966688859308555, 8, 1.4966688859308555]
M41 15/01/2015 [7, 0.8091097699793357, 8, 1.8091097699793357, 7, 0.8091097699793357, 7, 0.8091097699793357, 7, 0.8091097699793357, 8, 1.8091097699793357]
M96 30/01/2015 [6, 0.11592154463039694, 8, 2.115921544630397, 6, 0.11592154463039694, 7, 1.115921544630397, 7, 1.115921544630397, 7, 1.115921544630397, 7, 1.115921544630397, 6, 0.11592154463039694]
M89 30/01/2015 [6, 0.2762148963754507, 8, 2.2762148963754507, 7, 1.2762148963754507, 8, 2.2762148963754507, 6, 0.2762148963754507]
M28 15/01/2015 [6, 0.32125192857781215, 10, 4.321251928577812, 6, 0.32125192857781215]
M93 22/01/2015 [6, 0.033615839499649525, 6, 0.033615839499649525, 6, 0.033615839499649525, 6, 0.033615839499649525, 6, 0.033615839499649525, 6, 0.033615839499649525, 6, 0.033615839499649525, 7, 1.0336158394996495, 8, 2.0336158394996495]
M24 27/01/2015 [6, 0.006070656844567424, 8, 2.0060706568445674, 7, 1.0060706568445674, 7, 1.0060706568445674, 7, 1.0060706568445674, 6, 0.006070656844567424, 6, 0.006070656844567424]
M15 28/01/2015 [6, 0.1046355987339691, 8, 2.104635598733969, 6, 0.1046355987339691, 8, 2.104635598733969, 6, 0.1046355987339691, 6, 0.1046355987339691]
M92 13/01/2015 [8, 1.8399538644508766, 7, 0.8399538644508766, 7, 0.8399538644508766]
M19 04/01/2015 [7, 1.0641992220538956, 6, 0.06419922205389561, 8, 2.0641992220538956, 6, 0.06419922205389561, 6, 0.06419922205389561, 6, 0.06419922205389561, 6, 0.06419922205389561]
M84 04/01/2015 [8, 1.854799626185951, 7, 0.854799626185951, 7, 0.854799626185951]
M56 13/01/2015 [7, 1.1232989371684763, 7, 1.1232989371684763, 9, 3.1232989371684763, 6, 0.12329893716847629]
M60 11/01/2015 [7, 0.9739907244562138, 7, 0.9739907244562138, 7, 0.9739907244562138]
M31 19/01/2015 [9, 2.629170489299854, 8, 1.6291704892998542, 9, 2.629170489299854, 9, 2.629170489299854]
M4 01/01/2015 [7, 1.5211482302951236, 6, 0.5211482302951236, 6, 0.5211482302951236, 8, 2.5211482302951236, 6, 0.5211482302951236, 6, 0.5211482302951236]
M58 07/01/2015 [7, 0.7933444075610119, 8, 1.7933444075610119, 9, 2.793344407561012]
M77 04/01/2015 [9, 2.9923640646877825, 7, 0.9923640646877825, 7, 0.9923640646877825, 8, 1.9923640646877825, 7, 0.9923640646877825]
M9 30/01/2015 [7, 0.6809243038789594, 7, 0.6809243038789594, 10, 3.6809243038789594, 7, 0.6809243038789594]
M76 03/01/2015 [9, 2.0392091720498975, 8, 1.0392091720498975, 8, 1.0392091720498975, 10, 3.0392091720498975, 8, 1.0392091720498975, 7, 0.03920917204989749]
M29 24/01/2015 [7, 0.9653649804552842, 7, 0.9653649804552842, 10, 3.965364980455284]
M0 09/01/2015 [8, 0.7490742645154489, 8, 0.7490742645154489, 9, 1.749074264515449, 9, 1.749074264515449, 10, 2.749074264515449]
M38 22/01/2015 [7, 1.0223611165368816, 6, 0.022361116536881553, 7, 1.0223611165368816, 6, 0.022361116536881553, 6, 0.022361116536881553, 7, 1.0223611165368816, 7, 1.0223611165368816]
M3 26/01/2015 [7, 0.7732908709189887, 7, 0.7732908709189887, 7, 0.7732908709189887, 7, 0.7732908709189887, 9, 2.7732908709189887]
M71 09/01/2015 [9, 2.6928293896229487, 7, 0.6928293896229487, 8, 1.6928293896229487, 8, 1.6928293896229487]
M80 09/01/2015 [7, 0.6319896841005201, 7, 0.6319896841005201, 8, 1.6319896841005201, 9, 2.63198968410052]
M11 29/01/2015 [6, 0.12329893716847629, 7, 1.1232989371684763, 7, 1.1232989371684763, 6, 0.12329893716847629, 8, 2.1232989371684763, 6, 0.12329893716847629]
M45 30/01/2015 [6, 0.5405969143653877, 6, 0.5405969143653877, 7, 1.5405969143653877, 6, 0.5405969143653877]
M79 19/01/2015 [8, 1.6252939357561296, 7, 0.6252939357561296, 8, 1.6252939357561296, 8, 1.6252939357561296]
M40 26/01/2015 [7, 1.072050022167959, 6, 0.07205002216795897, 7, 1.072050022167959, 7, 1.072050022167959, 9, 3.072050022167959, 7, 1.072050022167959, 7, 1.072050022167959]
M27 07/01/2015 [7, 1.7625981103095363, 6, 0.7625981103095363, 6, 0.7625981103095363, 6, 0.7625981103095363]
M81 25/01/2015 [7, 0.8898434690152719, 7, 0.8898434690152719, 7, 0.8898434690152719, 9, 2.889843469015272, 7, 0.8898434690152719]
M74 29/01/2015 [7, 0.21337164782595774, 7, 0.21337164782595774, 10, 3.2133716478259577, 10, 3.2133716478259577, 7, 0.21337164782595774, 7, 0.21337164782595774]
M13 29/01/2015 [6, 0.19878827922439868, 8, 2.1987882792243987, 6, 0.19878827922439868, 6, 0.19878827922439868, 6, 0.19878827922439868, 6, 0.19878827922439868, 6, 0.19878827922439868, 7, 1.1987882792243987]
M37 05/01/2015 [6, 0.18490030322184658, 7, 1.1849003032218466, 9, 3.1849003032218466, 11, 5.184900303221847]
M18 15/01/2015 [21, 9.877125987175402, 32, 20.877125987175404]
M97 27/01/2015 [7, 0.37329087091898927, 7, 0.37329087091898927, 7, 0.37329087091898927, 11, 4.373290870918989]
M62 07/01/2015 [10, 4.008762048125305, 8, 2.0087620481253046, 6, 0.008762048125304567, 6, 0.008762048125304567, 6, 0.008762048125304567]
M36 01/01/2015 [8, 1.7028665091633606, 7, 0.7028665091633606, 7, 0.7028665091633606, 7, 0.7028665091633606]
M1 05/01/2015 [8, 1.8176256128672668, 8, 1.8176256128672668, 7, 0.8176256128672668, 7, 0.8176256128672668]
M16 26/01/2015 [8, 1.3012441276289053, 7, 0.3012441276289053, 7, 0.3012441276289053, 8, 1.3012441276289053, 8, 1.3012441276289053, 7, 0.3012441276289053]
M75 30/01/2015 [5, 0.08263070053155364, 7, 2.0826307005315536, 5, 0.08263070053155364, 5, 0.08263070053155364, 5, 0.08263070053155364, 5, 0.08263070053155364, 5, 0.08263070053155364, 5, 0.08263070053155364, 5, 0.08263070053155364]
M34 27/01/2015 [7, 0.44593407714619815, 7, 0.44593407714619815, 8, 1.4459340771461981, 8, 1.4459340771461981, 7, 0.44593407714619815, 7, 0.44593407714619815, 7, 0.44593407714619815, 7, 0.44593407714619815]
M20 05/01/2015 [7, 0.262567979311342, 8, 1.262567979311342, 9, 2.262567979311342, 9, 2.262567979311342, 8, 1.262567979311342, 8, 1.262567979311342]
M5 12/01/2015 [6, 1.0844505578596486, 7, 2.0844505578596486, 6, 1.0844505578596486, 7, 2.0844505578596486]
M7 30/01/2015 [6, 0.8274414039405453, 7, 1.8274414039405453, 7, 1.8274414039405453, 6, 0.8274414039405453, 6, 0.8274414039405453]
M53 01/01/2015 [8, 0.6196933938196372, 9, 1.6196933938196372, 9, 1.6196933938196372, 9, 1.6196933938196372, 10, 2.619693393819637]
M78 24/01/2015 [7, 0.822730225090222, 8, 1.822730225090222, 8, 1.822730225090222, 7, 0.822730225090222]
M66 30/01/2015 [8, 2.002300218938635, 7, 1.0023002189386352, 6, 0.00230021893863519, 7, 1.0023002189386352, 6, 0.00230021893863519, 8, 2.002300218938635]
M2 29/01/2015 [8, 1.6798374044191036, 7, 0.6798374044191036, 7, 0.6798374044191036, 7, 0.6798374044191036, 8, 1.6798374044191036]
M43 28/01/2015 [7, 0.7732908709189887, 8, 1.7732908709189887, 8, 1.7732908709189887, 7, 0.7732908709189887, 7, 0.7732908709189887]
M95 27/01/2015 [9, 1.7990478133317875, 11, 3.7990478133317875, 8, 0.7990478133317875, 8, 0.7990478133317875, 9, 1.7990478133317875]
M35 28/01/2015 [7, 0.7788891668056426, 7, 0.7788891668056426, 7, 0.7788891668056426, 9, 2.7788891668056426, 7, 0.7788891668056426]
M39 28/01/2015 [8, 2.0335897587637444, 6, 0.03358975876374437, 6, 0.03358975876374437, 8, 2.0335897587637444, 7, 1.0335897587637444, 8, 2.0335897587637444]
M61 19/01/2015 [7, 0.09230182480378524, 10, 3.0923018248037852, 7, 0.09230182480378524, 8, 1.0923018248037852, 7, 0.09230182480378524, 8, 1.0923018248037852]
M94 17/01/2015 [8, 1.0047667737902692, 8, 1.0047667737902692, 8, 1.0047667737902692, 11, 4.004766773790269, 7, 0.004766773790269241]
M87 15/01/2015 [8, 1.4261627229562812, 8, 1.4261627229562812, 8, 1.4261627229562812, 8, 1.4261627229562812, 7, 0.4261627229562812]
M47 20/01/2015 [7, 0.49168739647985227, 7, 0.49168739647985227, 8, 1.4916873964798523, 7, 0.49168739647985227, 7, 0.49168739647985227]
M25 02/01/2015 [9, 1.7910073829830475, 10, 2.7910073829830475, 11, 3.7910073829830475, 8, 0.7910073829830475]
M73 19/01/2015 [6, 0.45338146873806107, 7, 1.453381468738061, 6, 0.45338146873806107, 8, 2.453381468738061, 6, 0.45338146873806107, 6, 0.45338146873806107]
M17 19/01/2015 [6, 0.0346999127829104, 8, 2.0346999127829104, 8, 2.0346999127829104, 6, 0.0346999127829104, 7, 1.0346999127829104]
M65 30/01/2015 [7, 1.127691707668398, 9, 3.127691707668398, 6, 0.1276917076683981, 6, 0.1276917076683981, 6, 0.1276917076683981, 6, 0.1276917076683981, 6, 0.1276917076683981, 7, 1.127691707668398]
M54 27/01/2015 [9, 2.06473511058406, 7, 0.0647351105840599, 7, 0.0647351105840599, 10, 3.06473511058406, 7, 0.0647351105840599, 9, 2.06473511058406]
M8 28/01/2015 [9, 1.9344088820227112, 8, 0.9344088820227112, 8, 0.9344088820227112, 9, 1.9344088820227112]
M99 28/01/2015 [6, 0.4083551484915571, 6, 0.4083551484915571, 7, 1.408355148491557, 6, 0.4083551484915571, 7, 1.408355148491557, 6, 0.4083551484915571, 6, 0.4083551484915571]
M68 18/01/2015 [8, 1.3735087795239114, 7, 0.37350877952391137, 9, 2.3735087795239114, 8, 1.3735087795239114, 7, 0.37350877952391137]

In [120]:
#Detection of Compromised merchant with all dates of information harvestion

#All abnormal defrauded transactions which use same account which exploited later and dates with all accounts count of which information harvested  
anmldtl=[]
for key,value in anomlymer.items():
  anmlymerdact=[]
  for i in data['date'].unique():
    if i<min(exploitdt.keys()):
      anmlymerdact.append(len(set(expltacnt).intersection(set(data[(data['fraud'].astype(str).str.strip()=='False') & (data['date']==i)  & (data['merchant']==key)]['account'].unique()))))
  if len(find_anomalies(anmlymerdact,1))!=0:
    anmldtl.append(key)
    anmldtl.append(find_anomalies(anmlymerdact,1))
    
frdsum=[]
frdmer={}

# Loop for suming up all counts of transaction in abnormal list
for i in range(0,len(anmldtl),2):
  mer=anmldtl[i]
  frdacsum=0
  y=[]
  for j in range(0,len(anmldtl[i+1]),2):
    frdacsum=frdacsum+anmldtl[i+1][j] #sum of all frauded accounts transations count which are in abnormarl list for particular merchant 
    y.append(anmldtl[i+1][j])
  frdsum.append(frdacsum)
  frdmer.update({mer:y})

#finding out merchant with maximum abnormal transaction with defrauded indicator and with frauded accounts
for key, value in frdmer.items():
  if sum(value)==max(frdsum):
    cmpmer=key
print('Compromised merchnat ',cmpmer)

#Dates of Compromise for that merchant
fradt={}
for k in data['date'].unique():
  if k<min(exploitdt.keys()):
    fradt.update({k:len(set(expltacnt).intersection(set(data[(data['fraud'].astype(str).str.strip()=='False') & (data['date']==k)  & (data['merchant']==cmpmer)]['account'].unique())))})

dts={}
for key,value in fradt.items():
  for l in list(dict(filter(lambda elem: elem[0] ==cmpmer , frdmer.items())).values())[0]:
    if l==value:
      dts.update({key:l})

print('Dates of compromise', list(dts.keys()))

Compromised merchnat  M18
Dates of compromise ['15/01/2015', '16/01/2015']

In [121]:
#More insight for abnormal defrauded transactions which use same account which exploited later and date with maximum accounts count of which information harvested  

for key,value in anomlymer.items():
  anmact=[]
  anmact.extend(data[(data['fraud'].astype(str).str.strip()=='False') & (data['merchant']==key) & (data['date']==value)]['account'].unique())
  print(key,value,len(set(expltacnt).intersection(set(anmact))),set(expltacnt).intersection(set(anmact)))

M98 01/01/2015 8 {'A841', 'A215', 'A37', 'A727', 'A182', 'A183', 'A40', 'A665'}
M50 29/01/2015 7 {'A590', 'A824', 'A336', 'A443', 'A541', 'A825', 'A998'}
M55 20/01/2015 6 {'A490', 'A726', 'A403', 'A110', 'A793', 'A430'}
M14 03/01/2015 8 {'A704', 'A699', 'A834', 'A90', 'A731', 'A942', 'A886', 'A381'}
M10 02/01/2015 8 {'A238', 'A16', 'A391', 'A581', 'A145', 'A200', 'A973', 'A166'}
M33 03/01/2015 7 {'A882', 'A560', 'A145', 'A139', 'A973', 'A372', 'A430'}
M82 26/01/2015 7 {'A391', 'A494', 'A874', 'A475', 'A157', 'A318', 'A921'}
M42 13/01/2015 8 {'A461', 'A273', 'A444', 'A551', 'A425', 'A942', 'A111', 'A743'}
M22 06/01/2015 12 {'A493', 'A824', 'A215', 'A634', 'A291', 'A560', 'A727', 'A701', 'A157', 'A541', 'A743', 'A203'}
M44 06/01/2015 7 {'A392', 'A291', 'A702', 'A809', 'A379', 'A8', 'A726'}
M52 20/01/2015 7 {'A720', 'A645', 'A443', 'A324', 'A615', 'A92', 'A166'}
M26 27/01/2015 7 {'A122', 'A250', 'A210', 'A921', 'A907', 'A397', 'A469'}
M59 07/01/2015 8 {'A336', 'A560', 'A90', 'A349', 'A728', 'A458', 'A951', 'A914'}
M48 04/01/2015 8 {'A167', 'A16', 'A154', 'A841', 'A648', 'A723', 'A786', 'A69'}
M83 06/01/2015 10 {'A682', 'A122', 'A355', 'A119', 'A943', 'A468', 'A886', 'A825', 'A40', 'A325'}
M23 30/01/2015 7 {'A167', 'A210', 'A723', 'A349', 'A743', 'A603', 'A92'}
M72 24/01/2015 6 {'A480', 'A943', 'A90', 'A111', 'A32', 'A325'}
M21 19/01/2015 8 {'A238', 'A6', 'A291', 'A284', 'A148', 'A902', 'A556', 'A793'}
M85 24/01/2015 9 {'A682', 'A581', 'A392', 'A802', 'A321', 'A148', 'A458', 'A991', 'A837'}
M57 02/01/2015 9 {'A461', 'A308', 'A517', 'A841', 'A861', 'A771', 'A655', 'A930', 'A92'}
M49 30/01/2015 6 {'A461', 'A355', 'A154', 'A324', 'A921', 'A726'}
M70 30/01/2015 6 {'A355', 'A57', 'A468', 'A610', 'A568', 'A998'}
M6 19/01/2015 7 {'A435', 'A273', 'A874', 'A701', 'A200', 'A838', 'A556'}
M91 01/01/2015 9 {'A861', 'A6', 'A443', 'A992', 'A886', 'A914', 'A921', 'A330', 'A166'}
M64 29/01/2015 7 {'A116', 'A167', 'A299', 'A727', 'A615', 'A379', 'A951'}
M88 14/01/2015 8 {'A923', 'A6', 'A657', 'A874', 'A210', 'A723', 'A952', 'A325'}
M67 13/01/2015 7 {'A167', 'A57', 'A809', 'A145', 'A139', 'A8', 'A92'}
M69 15/01/2015 7 {'A480', 'A493', 'A551', 'A210', 'A148', 'A469', 'A951'}
M46 29/01/2015 8 {'A299', 'A37', 'A987', 'A86', 'A139', 'A952', 'A69', 'A837'}
M51 08/01/2015 10 {'A882', 'A834', 'A992', 'A731', 'A727', 'A148', 'A952', 'A40', 'A92', 'A726'}
M12 03/01/2015 8 {'A923', 'A517', 'A634', 'A284', 'A893', 'A200', 'A951', 'A330'}
M30 29/01/2015 8 {'A443', 'A90', 'A145', 'A349', 'A802', 'A746', 'A991', 'A726'}
M90 29/01/2015 9 {'A308', 'A215', 'A560', 'A874', 'A148', 'A458', 'A40', 'A8', 'A270'}
M63 30/01/2015 6 {'A425', 'A771', 'A731', 'A907', 'A437', 'A781'}
M32 18/01/2015 7 {'A167', 'A720', 'A817', 'A200', 'A183', 'A603', 'A837'}
M86 05/01/2015 7 {'A122', 'A391', 'A485', 'A425', 'A86', 'A992', 'A907'}
M41 15/01/2015 7 {'A861', 'A215', 'A485', 'A874', 'A321', 'A568', 'A998'}
M96 30/01/2015 6 {'A704', 'A991', 'A284', 'A527', 'A8', 'A69'}
M89 30/01/2015 6 {'A119', 'A861', 'A824', 'A400', 'A392', 'A992'}
M28 15/01/2015 6 {'A400', 'A381', 'A157', 'A902', 'A655', 'A991'}
M93 22/01/2015 6 {'A16', 'A400', 'A250', 'A657', 'A182', 'A325'}
M24 27/01/2015 6 {'A475', 'A667', 'A902', 'A615', 'A458', 'A793'}
M15 28/01/2015 6 {'A836', 'A581', 'A702', 'A560', 'A657', 'A182'}
M92 13/01/2015 8 {'A122', 'A400', 'A634', 'A392', 'A336', 'A111', 'A743', 'A896'}
M19 04/01/2015 7 {'A645', 'A215', 'A444', 'A90', 'A723', 'A40', 'A69'}
M84 04/01/2015 8 {'A699', 'A697', 'A943', 'A787', 'A321', 'A434', 'A379', 'A334'}
M56 13/01/2015 7 {'A882', 'A6', 'A157', 'A321', 'A907', 'A838', 'A556'}
M60 11/01/2015 7 {'A299', 'A250', 'A494', 'A771', 'A886', 'A397', 'A334'}
M31 19/01/2015 9 {'A480', 'A817', 'A697', 'A392', 'A771', 'A182', 'A139', 'A952', 'A166'}
M4 01/01/2015 7 {'A395', 'A474', 'A590', 'A834', 'A308', 'A494', 'A896'}
M58 07/01/2015 7 {'A119', 'A392', 'A527', 'A541', 'A921', 'A568', 'A8'}
M77 04/01/2015 9 {'A817', 'A634', 'A443', 'A444', 'A349', 'A157', 'A802', 'A610', 'A458'}
M9 30/01/2015 7 {'A468', 'A702', 'A324', 'A430', 'A746', 'A381', 'A325'}
M76 03/01/2015 9 {'A645', 'A435', 'A379', 'A291', 'A284', 'A992', 'A825', 'A746', 'A998'}
M29 24/01/2015 7 {'A122', 'A590', 'A834', 'A90', 'A809', 'A353', 'A213'}
M0 09/01/2015 8 {'A122', 'A334', 'A400', 'A403', 'A469', 'A665', 'A203', 'A213'}
M38 22/01/2015 7 {'A391', 'A215', 'A874', 'A86', 'A655', 'A615', 'A213'}
M3 26/01/2015 7 {'A834', 'A273', 'A444', 'A886', 'A541', 'A952', 'A183'}
M71 09/01/2015 9 {'A435', 'A551', 'A987', 'A318', 'A937', 'A615', 'A998', 'A914', 'A430'}
M80 09/01/2015 7 {'A16', 'A215', 'A771', 'A556', 'A334', 'A166', 'A213'}
M11 29/01/2015 6 {'A682', 'A834', 'A435', 'A145', 'A723', 'A610'}
M45 30/01/2015 6 {'A116', 'A645', 'A634', 'A809', 'A746', 'A334'}
M79 19/01/2015 8 {'A923', 'A720', 'A119', 'A250', 'A443', 'A771', 'A907', 'A665'}
M40 26/01/2015 7 {'A682', 'A291', 'A111', 'A353', 'A610', 'A991', 'A213'}
M27 07/01/2015 7 {'A435', 'A723', 'A937', 'A728', 'A781', 'A930', 'A372'}
M81 25/01/2015 7 {'A395', 'A824', 'A581', 'A443', 'A992', 'A701', 'A213'}
M74 29/01/2015 7 {'A167', 'A210', 'A771', 'A157', 'A527', 'A379', 'A665'}
M13 29/01/2015 6 {'A836', 'A817', 'A435', 'A92', 'A69', 'A270'}
M37 05/01/2015 6 {'A590', 'A355', 'A648', 'A183', 'A746', 'A973'}
M18 15/01/2015 21 {'A355', 'A349', 'A896', 'A461', 'A336', 'A403', 'A731', 'A434', 'A111', 'A951', 'A299', 'A425', 'A728', 'A334', 'A37', 'A551', 'A809', 'A825', 'A743', 'A603', 'A430'}
M97 27/01/2015 7 {'A817', 'A490', 'A468', 'A403', 'A437', 'A200', 'A40'}
M62 07/01/2015 10 {'A943', 'A6', 'A215', 'A92', 'A475', 'A86', 'A527', 'A921', 'A973', 'A726'}
M36 01/01/2015 8 {'A474', 'A517', 'A731', 'A182', 'A321', 'A148', 'A541', 'A951'}
M1 05/01/2015 8 {'A122', 'A6', 'A648', 'A907', 'A541', 'A998', 'A372', 'A430'}
M16 26/01/2015 8 {'A861', 'A893', 'A379', 'A610', 'A8', 'A469', 'A330', 'A325'}
M75 30/01/2015 5 {'A834', 'A943', 'A284', 'A475', 'A92'}
M34 27/01/2015 7 {'A493', 'A645', 'A119', 'A551', 'A32', 'A743', 'A951'}
M20 05/01/2015 7 {'A299', 'A284', 'A727', 'A838', 'A896', 'A786', 'A951'}
M5 12/01/2015 6 {'A122', 'A16', 'A861', 'A379', 'A896', 'A69'}
M7 30/01/2015 6 {'A119', 'A299', 'A657', 'A349', 'A825', 'A397'}
M53 01/01/2015 8 {'A480', 'A943', 'A443', 'A551', 'A992', 'A942', 'A110', 'A568'}
M78 24/01/2015 7 {'A943', 'A6', 'A771', 'A148', 'A615', 'A458', 'A914'}
M66 30/01/2015 8 {'A834', 'A581', 'A731', 'A349', 'A907', 'A786', 'A69', 'A726'}
M2 29/01/2015 8 {'A238', 'A355', 'A435', 'A284', 'A145', 'A610', 'A469', 'A726'}
M43 28/01/2015 7 {'A590', 'A355', 'A215', 'A485', 'A731', 'A139', 'A458'}
M95 27/01/2015 9 {'A238', 'A817', 'A475', 'A86', 'A727', 'A321', 'A902', 'A437', 'A110'}
M35 28/01/2015 7 {'A395', 'A119', 'A494', 'A353', 'A541', 'A951', 'A372'}
M39 28/01/2015 8 {'A836', 'A154', 'A551', 'A987', 'A318', 'A200', 'A568', 'A213'}
M61 19/01/2015 7 {'A392', 'A336', 'A318', 'A139', 'A825', 'A930', 'A381'}
M94 17/01/2015 8 {'A395', 'A122', 'A834', 'A657', 'A610', 'A786', 'A704', 'A837'}
M87 15/01/2015 8 {'A720', 'A6', 'A37', 'A336', 'A139', 'A200', 'A610', 'A896'}
M47 20/01/2015 7 {'A861', 'A444', 'A610', 'A330', 'A991', 'A665', 'A203'}
M25 02/01/2015 9 {'A474', 'A834', 'A273', 'A250', 'A148', 'A527', 'A353', 'A746', 'A203'}
M73 19/01/2015 6 {'A392', 'A781', 'A952', 'A838', 'A704', 'A203'}
M17 19/01/2015 6 {'A824', 'A444', 'A728', 'A615', 'A973', 'A330'}
M65 30/01/2015 7 {'A122', 'A299', 'A943', 'A634', 'A809', 'A921', 'A610'}
M54 27/01/2015 9 {'A167', 'A836', 'A841', 'A824', 'A392', 'A145', 'A723', 'A937', 'A8'}
M8 28/01/2015 9 {'A480', 'A699', 'A493', 'A336', 'A349', 'A321', 'A139', 'A781', 'A69'}
M99 28/01/2015 6 {'A395', 'A57', 'A403', 'A86', 'A992', 'A92'}
M68 18/01/2015 8 {'A560', 'A874', 'A284', 'A610', 'A838', 'A786', 'A793', 'A330'}

In [124]:
for i in data['date'].unique():
  if i<min(exploitdt.keys()):
    print(i,len(set(expltacnt).intersection(set(data[(data['fraud'].astype(str).str.strip()=='False') & (data['date']==i)  & (data['merchant']=='M18')]['account'].unique()))))

01/01/2015 2
02/01/2015 4
03/01/2015 1
04/01/2015 4
05/01/2015 5
06/01/2015 2
07/01/2015 3
08/01/2015 5
09/01/2015 3
10/01/2015 3
11/01/2015 3
12/01/2015 5
13/01/2015 6
14/01/2015 4
15/01/2015 21
16/01/2015 32
17/01/2015 1
18/01/2015 0
19/01/2015 3
20/01/2015 6